h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

/*MAIN-NAV*/
.main-nav {
  display: none; }

/*PageHeader*/
.page-header {
  min-height: 445px;
  outline: 1px solid red; }

/*MAIN*/
/*PAGE PROMO*/
.page-promo {
  min-height: 610px;
  outline: 1px solid blue; }

/*FEATURES*/
.features-item {
  outline: 1px solid blue;
  content: "";
  display: table;
  clear: both; }
  .features-item__text {
    min-height: 195px;
    outline: 1px solid red; }
  .features-item__img {
    min-height: 260px;
    outline: 1px solid red; }

.features-item--other__text {
  min-height: 170px; }

.features-promo {
  outline: 1px solid blue; }
  .features-promo__item {
    min-height: 165px;
    outline: 1px solid red; }

@media (min-width: 768px) {
  .features-item {
    width: 1200px; }
  .features-item--first .features-item__text {
    float: left;
    width: 33.33%;
    min-height: 256px; }
  .features-item--first .features-item__img {
    float: right;
    width: 66.66%;
    min-height: 256px; } }

/*USER ENROLL*/
.user-enroll {
  min-height: 240px;
  outline: 1px solid blue; }

.btn--enroll {
  display: block;
  width: 280px;
  margin: 0 auto; }

/*PAGE FOOTER*/
.page-footer {
  min-height: 240px;
  outline: 1px solid red; }
